.home-cooked {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(19, 19, 19);
  padding: 4%;
}

.home-cooked__text {
  background-image: url("../../projects/home-cooked.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  padding: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}

.home-cooked__text h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

.home-cooked__description {
  font-size: 1.5rem;
  max-width: 600px;
  margin-bottom: 2rem;
}

.home-cooked__technologies {
  display: flex;
  gap: 1rem;
}

.home-cooked__technologies span {
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-size: 0.9rem;
}

.home-cooked__content {
  max-width: 800px;
  margin: 0 20%;
  padding: 0 2rem;
}

.home-cooked__content h2 {
  font-size: 2rem;
  margin: 2rem 0 1rem;
  color: white;
  font-weight: 800;
}

.home-cooked__content p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: white;
}

.home-cooked__image-placeholder {
  width: 100%;
  height: 400px;
  background: #f5f5f5;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .home-cooked__hero-overlay h1 {
    font-size: 3rem;
  }

  .home-cooked__description {
    font-size: 1.2rem;
  }

  .home-cooked__content {
    margin: 2rem auto;
  }

  .home-cooked__content h2 {
    font-size: 1.75rem;
  }

  .home-cooked__content p {
    font-size: 1rem;
  }

  .home-cooked__image-placeholder {
    height: 300px;
  }
}
