.contact-btn {
  border-radius: 50px;
  cursor: pointer;
  background-color: rgba(124, 124, 124, 0.086);
  border: 1px solid rgb(149, 149, 149);
  text-align: center;
  margin: 0 6rem;
  padding: 1rem;
  width: 300px;
  transition: transform 0.4s ease-in-out;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.contact-btn:hover {
  transform: translateY(-5px);
}

#arrow-right {
  position: absolute;
  right: 5px;
  background-color: var(--primary-color);
  padding: 8px;

  border-radius: 50%;
}
