.header {
  background-color: rgb(19, 19, 19);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid white;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav a:hover {
  color: var(--primary-color);
}

.project-page {
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(19, 19, 19);
  /* padding: 4%; */
}

.text {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 30px;
  padding: 20px;
  height: 200px;
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  background-color: white;
}

.text h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

.description {
  font-size: 1.5rem;
  max-width: 600px;
  margin-bottom: 2rem;
}

.technologies {
  display: flex;
  gap: 1rem;
}

.technologies span {
  padding: 0.5rem 1rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-size: 0.9rem;
}

.content {
  max-width: 800px;
  margin: 5% 20% 0 20%;
  padding: 0 5rem;
}

.content h2 {
  font-size: 2rem;
  margin: 2rem 0 1rem;
  color: white;
  font-weight: 800;
}

.content p {
  font-size: 1.1rem;
  line-height: 1.6;
  text-indent: 2.5rem;
  color: white;
}

.image-placeholder {
  width: 100%;
  height: 400px;
  background: #f5f5f5;
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .hero-overlay h1 {
    font-size: 3rem;
  }

  .description {
    font-size: 1.2rem;
  }

  .content {
    margin: 2rem auto;
  }

  .content h2 {
    font-size: 1.75rem;
  }

  .content p {
    font-size: 1rem;
  }

  .image-placeholder {
    height: 300px;
  }
}
