@import url("https://fonts.googleapis.com/css?family=Cabin:700|Cabin:400");

:root {
  --text-color: #060404;
  --background-color: #f7f2f2;
  --primary-color: #bb585d;
  --secondary-color: #b5c99c;
  --accent-color: #de5e65;
}
:root[data-theme="dark"] {
  --text-color: #fbf9f9;
  --background-color: #0d0808;
  --primary-color: #a74449;
  --secondary-color: #4f6336;
  --accent-color: #a12127;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
}

html,
body {
  background-color: var(--background-color);
  color: var(--text-color);
}
