.hero {
  display: flex;
  flex-direction: column;
  margin: 20px;
  background-color: rgb(19, 19, 19);

  position: relative;
  overflow: hidden;
  border-radius: 20px;
  height: calc(100vh - 40px);
  width: calc(100vw - 40px);
}

.hero__header {
  height: 100px;
  background-color: rgb(19, 19, 19);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid white;
  padding-right: 2rem;
}

.hero__nav a {
  color: white;
  text-decoration: none;
  margin-left: 2rem;
  font-size: 1.1rem;
  transition: opacity 0.2s;
}

.hero__nav a:hover {
  opacity: 0.8;
}

.hero__main {
  flex: 1;
  display: flex;
}

.hero__footer {
  height: 100px;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-top: 1px solid white;
}

.conveyor-belt {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.conveyor-belt__content {
  display: flex;
  align-items: center;
  height: 100%;
  animation: scroll 20s linear 1s infinite;
  white-space: nowrap;
}

.conveyor-belt__content span {
  color: white;
  font-size: 1.2rem;
  padding: 0 2rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.hero__left {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  border-right: 1px solid white;
}

.hero__left a {
  width: 80%;
  border-radius: 50px;
  background: linear-gradient(
    90deg,
    rgb(102, 239, 239) 0%,
    rgb(11, 47, 114) 100%
  );
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 1rem;
  text-align: center;
  margin: 1rem;
  text-decoration: none;
  margin-left: 2rem;
}

.hero__right {
  width: 60%;
}

.hero__title {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 2rem;
  color: white;
}

.hero__bio {
  font-family: "Inter", sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  color: white;
  margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero__main {
    flex-direction: column;
    padding: 2rem 5%;
  }

  .hero__nav a {
    margin-left: 1rem;
    font-size: 1rem;
  }

  .hero {
    margin: 20px;
    flex-direction: column;
    padding: 2rem 5%;
  }

  .hero__left,
  .hero__right {
    width: 100%;
    padding-right: 0;
  }

  .hero__left {
    order: 2;
    text-align: center;
    padding: 2rem 0;
  }

  .hero__right {
    order: 1;
    min-height: 50vh;
  }

  .hero__title {
    font-size: 2rem;
  }
}
