@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");

.projects {
  margin: 0 1.5rem 5rem 1.5rem;
  padding: 0 16px 0 16px;
}

.projects__header {
  display: flex;
  justify-content: center;
  margin: 6rem 0;
}

.projects__header-frame {
  position: relative;
  max-width: 400px;
  padding: 2rem 8rem;
  text-align: center;
}

.projects__top-left-corner,
.projects__top-right-corner,
.projects__bottom-left-corner,
.projects__bottom-left-corner-outside,
.projects__bottom-right-corner {
  position: absolute;
  width: 15px;
  height: 15px;
}

/* Top left corner */
.projects__top-left-corner {
  top: 0;
  left: 0;
  border-top: 2px solid white;
  border-left: 2px solid white;
}

/* Top right corner */
.projects__top-right-corner {
  top: 0;
  right: 0;
  border-top: 2px solid white;
  border-right: 2px solid white;
}

/* Bottom left corner */
.projects__bottom-left-corner {
  bottom: 0;
  left: 0;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
}

/* Bottom left corner outside */
.projects__bottom-left-corner-outside {
  bottom: -15px;
  left: -15px;
  border-top: 2px solid white;
  border-right: 2px solid white;
}

/* Bottom right corner */
.projects__bottom-right-corner {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
}

.projects__subtitle {
  display: block;

  font-size: 0.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
  color: white;
}

.projects__title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.3;
  margin: 0;
  color: white;
}

/* Projects Grid */

.projects__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin: 0 1.5rem;
}

.project {
  max-width: 100%;
  height: 450px;
  border-radius: 10px;
  border: 1px solid grey;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.project:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-color: #1a1a1a;
}

.project-top {
  width: 100%;
  height: 60%;
  border-radius: 10px;
}

.project-top img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.project-bottom {
  box-sizing: border-box;
  width: 100%;
  height: 40%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  color: black;
}

.project-bottom h3,
.project-bottom p {
  margin: 0;
}

.project-bottom h3 {
  font-size: 1.7rem;
  font-weight: 600;
}

.project-bottom p {
  font-size: 16px;
}

/* Featured Project */

.project.featured:hover {
  transform: scale(1.05);
  transform: translateY(0);
}

.project.featured .project-top {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}

.project.featured .project-top img {
  border-radius: 13px;
}

.project.featured .project-top:hover {
  transform: scale(1.05);
}

.project.featured .project-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
  color: white;
  height: auto;
  min-height: 30%;
}

.project.featured .project-bottom h3 {
  color: white;
  font-size: 2rem;
}

.project.featured .project-bottom p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.2rem;
}

.project.featured {
  grid-column: span 2;
  grid-row: span 2;
  position: relative;
  background-color: #f0f0f0;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease;
  aspect-ratio: 16/9;
  border: 2px solid black;
}

/* Responsive Design */
@media (max-width: 768px) {
  .projects {
    padding: 4rem 5%;
  }

  .projects__header-frame {
    padding: 1.5rem;
  }

  .projects__title {
    font-size: 1.8rem;
  }

  .project.featured {
    grid-column: span 1;
    grid-row: span 1;
  }

  .projects__grid {
    grid-template-columns: 1fr;
  }
}
